

body {
 background-color: wheat;
}

a {
  color: #0f0f00;
}

.scores {
  position: absolute;
  top: 15px;
  left: 15px;
}


.timer {
  position: absolute;
  top: 15px;
  right: 15px;
}

.wrapper {
  margin: 100px auto 0 auto;
  max-width: 600px;
}

.hide {
  display: none;
}

.feedback {
  font-style: italic;
  font-size: 120%;
  margin-top: 20px;
  padding-top: 10px;
  color: gray;
  border-top: 2px solid rgb(201, 193, 193);
}

